.coach-opacity {
    opacity: .9;
}

.coacheslabel {
    font-size: 150%;
    margin-top: 30px;
    z-index: 4;
    color: aliceblue;
}

.bottombtn {
    z-index: 1;
    width: 100%;
    margin: 0;
    height: auto;
    padding: 20px;
    background-color: rgb(255, 0, 0);
}