html,body {

    height: 100%;
   width: 99%;

   margin: 10px;
   margin-bottom: 50px;

  
}


 *{
     font-family: 'Segoe UI';
 }



.inputfield {

    width: 100%;
    height: auto;
    position: relative;
    background-color: rgb(255, 255, 255);
}


.textboxarea {

    width: 100%;
    padding-top: 10px ;
    padding-left: 10px;
    padding-bottom: 10px;
    border-style: none;
    outline: none;
    position: relative;
    font-size: 105%;
 


}


.labels {

    position: absolute;
    top: 15px;
    left:10px;
    color: rgb(129, 129, 129);
    z-index: 1;
    font-size: larger;
    transition: all 200ms ease-in;

}


.underliner {

    width: 100%;
    height: 1.5px;
background-color: rgb(95, 95, 95);
}

/* 
.inputfield:hover> .labels {
    
top:0px;
font-size: 10px;
color: rgb(0, 103, 221);


}
 */


 .optionallinks {

    margin: 5px;
 }

 a {

    text-decoration: none;
    outline: none;
    color: tomato;
 }


 #messageph::placeholder {

    color: rgba(255, 127, 80, 0.425);
 }


 img {

    cursor: pointer;
 }


 ::-webkit-scrollbar {

    width: 7px;
      height: 7px;
      cursor: default;
    }
    
    ::-webkit-scrollbar-thumb {
      background: grey; 
      border-radius: 10px;
      cursor: default;
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background: black; 
      cursor: default;
    }

     #tofieldtextinput {
    width:87%;
      }

    @media (max-width:800px) {
      
      #tofieldtextinput {
        width: 70%;
      }

    }


    .indictors {


      width:70px;
      height: auto;
      border:blueviolet 1px solid;
      position: absolute;
      right: 10px;
      border-radius: 20px;
      text-align: center;
    }